<section>
  <div class="pergamino"><h1> <span class="orange">Perfil</span></h1></div>

  <div class="bloquearriba">
      <div class="izda">
          <div class="fotoperfil">
              <img src="./assets/images/perfil.jpg" class="img-circle" width="50px" alt="">
          </div>
          <h2 class="nombre">""Nombre de usuario""</h2>
      </div>
      <div class="dcha">
          <div class="opciones">
              <a href="./index.html"><img src="./assets/images/icons8-apagar-30.png" class="img-circle" width="30px" alt=""></a> 
          </div>
          <a href="./editperf" class="editarperfil">Editar Perfil</a>
      </div>
  </div>

  <div class="bloqueabajo">
      <ul class="list-group">
          <a href="#">
              <li class="list-group-item">Bares visitados</li>
          </a>
          <a href="#">
              <li class="list-group-item">Mis descuentos</li>
          </a>
          <a href="./rankinginicio.html">
              <li class="list-group-item">Estadisticas</li>
          </a>
      </ul>
  </div>

</section>