<section>
    <!-- <pre>{{_barActual|json}}</pre> -->

    <div class="pergamino">
        <h1> <span class="orange">{{_barActual.nombre}}</span></h1>
    </div>

    <article>
        <p>{{_barActual.direccion}}</p>
        <p>Horario: abierto - cierra a las 00:00.</p>
        <p>{{_barActual.telefono}}</p>
    </article>

    <article class="bares">
        <div>
            <img src="./assets/img/barejemplo.png" alt="">
        </div>
        <div>
            <img src="./assets/img/mapa.png" alt="">
        </div>
    </article>

    <div>
        <p>{{_barActual.descripcion}}</p>
    </div>

    <h2>Cervezas:</h2>

    <div class="cerves">

        <div>
            <img src="./assets/img/cerveza-corona-extra-2_grande.png" alt="">
        </div>

        <div>
            <img src="./assets/img/cerveza-patagonia-amber-lager-2_grande.png" alt="">
        </div>

    </div>


</section>