<header>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4 mymenu">
        <h5 class="text-white h4">Menú</h5>
        <ul class="list-group">
          <a [routerLink]="['perfilinicio']"><li class="list-group-item">Perfil</li></a>
          
          <a [routerLink]="['codigoqr']"><li class="list-group-item">Escanear QR</li></a>
          <a [routerLink]="['eventos']"><li class="list-group-item">Eventos</li></a>
          <a [routerLink]="['rankinginicio']"><li class="list-group-item">Ranking</li></a>
          <a [routerLink]="['clan']"><li class="list-group-item">Clanes</li></a>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark myheader">
      <button class="navbar-toggler mybutton" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="header-top">
          <div class="navegacion">
            <input type="search" placeholder="Buscar . . ." [(ngModel)]="inputBusqueda">
          </div>
        </div>
        
        <div class="search" *ngIf="inputBusqueda">
          <table class="search-table" id="searchTable">
            <thead>
              <tr>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let unBar of filterBarsByName(inputBusqueda)">
                <td><a [routerLink]="['/bares',unBar.bid]">{{unBar.nombre}}</a></td>
              </tr>              
            </tbody>
          </table>
        </div>
      <a href="./pgprincipal.html"><img src="./assets/img/logo.png" alt="logo"></a> 
    </nav>
  </div>
  <pre>{{inputBusqueda}}</pre>
  <pre>{{filterBarsByName('')}}</pre>
</header>