<div id="center">


  <div>
      <a href="#"><img src="{{imagePath}}" alt=""></a>
  </div>

  <h1> <span class="orange">Chip</span> <span class="yellow">Drunks</span></h1>

  <section>
      <div id="mensaje" class="error esconder">Usuario y contraseña no válidos</div>

      <form #loginform="ngForm" (ngSubmit)="acceder()"  novalidate>
        <div>
            <input type="text" [(ngModel)]="user.usuario" class="username" placeholder="username" minlength="3" id="username" name="username" pattern="[a-zA-Z0-9]*" required>
            <div id="errorusername" class="error esconder">Completa el nombre de usuario con el formato correcto</div>
        </div>
        <div>
            <input type="password" class="password" placeholder="password" pattern="[a-zA-Z0-9]*" id="password" name="password"
            [(ngModel)]="user.pass" required>
            <div id="errorpass" class="error esconder">Completa la contraseña con el formato correcto</div>
        </div>
          <div><button  [disabled]="!loginform.valid">Emborracharse</button></div>
      </form>
  </section>
</div>