<section>
  <div class="pergamino"><h1> <span class="orange">Ranking</span> <span class="yellow">Individual</span></h1></div>
  <table>
      <thead>
          <!--  CABECERA -->
          <tr>
              <th>
                  <div class="cabe">Posición</div>
              </th>
              <th>
                  <div class="cabe">Nombre</div>
              </th>
              <th>
                  <div class="cabe">Nº Bares Visitados</div>
              </th>
          </tr>
      </thead>

      <tbody id="rank_ind"><!--  cuerpo de tabla -->
        <tr *ngFor="let aUsuario of _rankingindArr">
          <td>{{aUsuario.nid}}</td>
          <td>{{aUsuario.nombre}}</td>
          <td>{{aUsuario.nbares}} </td>
        </tr>

      </tbody>
  </table>
</section>